{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Classifier</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'sentiAnalyzerApp/app.css' %}">
    </head>

    <body>
        
        <div class="header">
            <div class="title">Sentiment Analyzer</div>
        </div>

        <div class="container main__block">
          <div class="sent__block">
            <form method="post" >
                    {% csrf_token %}
                    <textarea id="review--text" name="w3review" rows="4" cols="50"></textarea>
            </form> 
            <div class="predict-btn-wrap">
            <div class="predict-button">
                <button id="submitBtn" type="button" class="btn btn-success">Predict</button>
            </div>    
            <div class="result__block"></div> 
            </div> 
            <div class="footer">
                    <div class="footer-text">This model is trained on IMDB Movie Dataset</div>
                    <p>This model best works when you give review/feedback for movie.</p>
            </div>
          </div> 
        </div>
        

</body>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{% static 'sentiAnalyzerApp/app.js' %}"></script>
</html>